* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.welcome-screen-section {
  position: relative;
  overflow: hidden;
}

.welcome-screen-section {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .welcome-screen-wrapper {
    .content {
      text-align: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        max-width: 100%;
        width: inherit;
        font-weight: unset;
        font-size: 36px;
        line-height: 44px;
        color: rgb(0, 0, 0);
        margin-bottom: 16px;
      }

      p {
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        max-width: 100%;
        width: inherit;
        font-weight: unset;
        font-size: 20px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .form-button {
      display: flex;
      margin: 0px auto;

      &.form-button-two {
        display: block;
      }

      .form-btn {
        max-width: 100%;
        width: inherit;
        font-weight: unset;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        border: 1px solid transparent;
        margin: 0px;
        box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
        padding: 8px 18px;
        min-height: 48px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 4px;
        margin-top: 40px;
        transition: 0.3s;
        cursor: pointer;

        @media screen and (max-width: 767px) {
          font-size: 20px;
        }


        &:hover {
          background-color: rgb(38, 38, 38);
        }
      }
    }

  }

  .form-popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;

    &.form-open {
      opacity: 1;
      visibility: visible;
    }

    .form-wrapper {
      width: 100%;
      max-width: 720px;
      margin: 20% auto;
      padding-left: 0px;
      padding-right: 0px;

      .form-field-group {
        .form-field {
          label {
            margin: 0px;
            max-width: 100%;
            width: inherit;
            font-weight: unset;
            font-size: 24px;
            line-height: 32px;
            color: rgb(0, 0, 0);
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            column-gap: 5px;

            span {
              display: flex;
              align-items: center;
              color: rgb(0, 0, 0);
              font-size: 14px;
              line-height: 20px;
              height: 100%;
              outline: none;
              column-gap: 2px;
            }
          }
          p{
            margin: 0 0 30px;
            max-width: 100%;
            width: inherit;
            font-weight: unset;
            font-size: 20px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.7);
            text-align: left;
          }
          .form-input {
            display: block;
            width: 100%;
            font-family: inherit;
            color: rgb(0, 0, 0);
            padding: 0px 0px 8px;
            border: none;
            outline: none;
            border-radius: 0px;
            appearance: none;
            background-image: none;
            background-position: initial;
            background-size: initial;
            background-repeat: initial;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            transform: translateZ(0px);
            font-size: 30px;
            -webkit-font-smoothing: antialiased;
            line-height: unset;
            -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
            animation: 1ms ease 0s 1 normal none running native-autofill-in;
            transition: background-color 1e+08s ease 0s, box-shadow 0.1s ease-out 0s;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
            background-color: transparent !important;

            &:focus {
              box-shadow: rgb(0 0 0) 0px 2px;
            }
          }
        }

        .next-fields {
          display: flex;
          flex-wrap: wrap;
          margin-top: 20px;
          column-gap: 25px;
          align-items: center;

          .next-button {
            svg {
              fill: rgb(255, 255, 255);
            }

            position: relative;
            font-family: inherit;
            line-height: inherit;
            font-weight: 700;
            cursor: pointer;
            transition-duration: 0.1s;
            transition-property: background-color,
            color,
            border-color,
            opacity,
            box-shadow;
            transition-timing-function: ease-out;
            outline: none;
            border: 1px solid transparent;
            margin: 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
            padding: 6px 14px;
            min-height: 40px;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            border-radius: 4px;
          }

          .next-enter {
            margin: 0px;
            max-width: 100%;
            width: inherit;
            font-weight: unset;
            font-size: 12px;
            line-height: 16px;
            color: rgb(0, 0, 0);
            font-family: sans-serif;
          }
        }
      }
    }
  }
}

.swiper-button-set {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border-radius: 4px 0px 0px 4px;
  position: fixed;
  bottom: 40px;
  right: 75px;

  .swiper-button-next,
  .swiper-button-prev {

    &::after,
    &::before {
      content: none;
    }

    i {
      position: relative;
      font-family: inherit;
      line-height: inherit;
      font-weight: 700;
      cursor: pointer;
      transition-duration: 0.1s;
      transition-property: background-color, color, border-color, opacity, box-shadow;
      transition-timing-function: ease-out;
      outline: none;
      border: 1px solid transparent;
      margin: 0px;
      padding: 0px;
      padding: 15px;
      justify-content: center;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);

      svg {
        display: block;
        fill: rgb(255, 255, 255);
        transition: fill 0.2s ease 0s;
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}